################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ClassLibrary1/.vs/ClassLibrary1/v15
/ClassLibrary1/ClassLibrary1/bin/Debug
/ClassLibrary1/ClassLibrary1/obj/Debug
/ClassLibrary1/packages
/ClassLibrary1/ClassLibrary1/ErrorLog
/ClassLibrary1/ClassLibrary1/Reports/QA_2021_11_04_12_32_52
